div#mod_gpuinfo {
    border-top: 0.092vh solid rgba(var(--color_r), var(--color_g), var(--color_b), 0.3);
    font-family: var(--font_main_light);
    letter-spacing: 0.092vh;
    padding: 0.645vh 0vh;
    padding-top: 0.5vh;
}

div#mod_gpuinfo > h1 {
    font-size: 1.48vh;
    margin: 0vh;
    width: 98%;
    padding-left: 2%;
    margin-bottom: 0.3vh;
}

div#mod_gpuinfo > h1 > i {
    font-style: normal;
    font-size: 1.20vh;
    opacity: 0.5;
    text-align: right;
    display: inline-block;
    position: relative;
    bottom: 1.6vh;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#mod_gpuinfo_stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-left: 2%;
    border-top: 0.092vh dashed rgba(var(--color_r), var(--color_g), var(--color_b), 0.3);
    padding-top: 0.5vh;
}

div#mod_gpuinfo_stats > div {
    width: 30%;
    text-align: center;
}

div#mod_gpuinfo_stats h1 {
    font-size: 1.3vh;
    line-height: 1.5vh;
    margin: 0vh;
}

div#mod_gpuinfo_stats i {
    font-style: normal;
    font-size: 1.3vh;
    opacity: 0.5;
    margin-top: 0.2vh;
    display: block;
}
